*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.icon{
   width: 24px;
   height: 24px;
}

nav a{
    color:#fb8500 !important;
}

.cart{
    
}

.admin-menu {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-menu li{
    width: 100%;
    border-bottom: 1px solid #fb8500;
    text-align: center;
    padding: 2rem;
}